<?php if($block->getData('id-video')): ?>

    <?php
    $videoId  = $block->getData('id-video');
    $vimeo = $block->getData('vimeo');
    $youtube = $block->getData('youtube');
    if ($youtube) {
        if(preg_match('/v=/', $videoId)) {
            $videoId = explode('v=', $videoId);
            $result = $videoId[1];
        }
        else {
            $result = $videoId;
        }
    }
    elseif ($vimeo) {
        if(preg_match('/com\//', $videoId)) {
            $videoId = explode('com/', $videoId);
            $result = $videoId[1];
        }
        else {
            $result = $videoId;
        }
    }

    $uniqId = "wrapper-video-" . $result;
    ?>

    <div data-video="<?php echo $result ?>" id="<?php echo $uniqId ?>" class="video-widget-embed"></div>

    <script>
        require(['jquery', '!domReady', 'video-widget'],
            function ($) {
                var uniqId = '#' + '<?php echo $uniqId ?>',
                    videoId = '<?php echo $result ?>',
                    vimeo = <?php echo $vimeo ?>,
                    youtube = <?php echo $youtube ?>

                        $(uniqId).videoEmbed({
                            videoId: videoId,
                            vimeo: vimeo,
                            youtube: youtube,
                            youtubeApi: false,
                            frameborder: 0,
                            allowAutoplay: 1,
                            fullscreen: true
                        })

            })
    </script>

<?php endif; ?>
